build/
out/
cmake-build-*/
.vs/
.vscode/
.idea/
*.pdb
*.ilk
*.obj
*.exe
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
*.ninja
.ninja_deps
.ninja_log
JUCE/
.DS_Store

